textarea {
    min-height: 400px;
}

.email {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.email:hover {
    box-shadow: 0px 0px 0px 1px black;
}

p {
    margin-bottom: 0px;
}

.timestamp {
    opacity: 50%;
}

.preview_left {
    width: 90%;
    display: inline-block;
}

.preview_right {
    width: 10%;
    max-height: 100px;
    display: inline-block;
}

.preview_image {
    width: 32px;
    height: auto;
    float: right;
    margin-right: 10px;
    opacity: 70%;
}

.preview_image:hover {
    opacity: 100%;
}

#view_image {
    width: 32px;
    height: auto;
    opacity: 70%;
}

#view_image:hover {
    opacity: 100%;
}