body {
    padding: 10px;
}

.listing_div {
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.listing_div:hover {
    background-color: lightgrey;
    text-decoration: none;
}

img {
    border-radius: 10px;
}

.linked_listing:link {
    text-decoration: none;
}

.linked_listing:visited {
    text-decoration: none;
}

.linked_listing:hover {
    text-decoration: none;
}

.linked_listing:active {
    text-decoration: none;
}

.view_div_1 {
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.view_div_2 {
    max-width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#view_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: 60%;
    max-height: 720px;
}

.view_creator {
    text-align: center;
}

textarea {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border-bottom-right-radius: 0px;
}

.quote {
    opacity: 0.5;
}

#close_listing {
    background-color: lightpink;
}

.closed_p {
    color: lightcoral;
    font-weight: bold;
}

input, select {
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 5px;
}

.new_listing_from input, select {
    margin-right: 20px;
    margin-top: 10px;
}

select {
    height: 34px;
    -webkit-appearance: none;
    background-image: url("https://cdn-icons-png.flaticon.com/512/37/37808.png");
    background-position:72px;
    background-repeat: no-repeat;
    background-size: 13px;
}

#rm_watched_listing {
    background-color: lightgreen;
}

#watch_listing, #rm_watched_listing, #close_listing {
    border: 1px transparent solid;
}

#watch_listing:hover, #rm_watched_listing:hover, #close_listing:hover {
    border: 1px black solid;
}

.h3 { 
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
