{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ header }}</h2>
    {% for listing in listings %}
        <a href="viewlisting/{{ listing.id }}" class="linked_listing">
            <div class="listing_div">
            <h5>{{ listing.name }}</h5>
            {{ listing.description }}
            <br> <b>Current Price: </b> ${{ listing.price }}
            {% if listing.image %}
                <br> <br> <img src="{{ listing.image }}" alt="image not available" height="240">
            {% endif %}
            </div>
        </a> <hr>
    {% empty %}
        No listings.
    {% endfor %}
{% endblock %}