{% extends "auctions/layout.html" %}

{% block body %}
    <div class="view_div">
        <h3>{{ listing.name }}</h3>

        {{ listing.description }} <br>

        {% if listing.image %}
            <br> <img src="{{ listing.image }}" alt="image not available" height="360">
        {% endif %}

        {% comment %} Will be changed to get the highest bid {% endcomment %}
        <br> <b>Current Price: </b> ${{ listing.starting_bid }} <br>
    </div>
    {% if user.is_authenticated %}
        <div style="text-align: center;">
            <form action="/viewlisting/{{ listing.id }}" method="POST">
                {% csrf_token %}
                {% if watched %}
                    <input type="submit" value="In Watchlist" id="rm_watched_listing">
                {% else %}
                    <input type="submit" value="Add to Watchlist" id="watch_listing">
                {% endif %}
            </form> <br>
        </div>
    {% else %}
    <br>
    {% endif %}
{% endblock %}